body{
    background-color: white;
}
header {
    box-sizing: border-box;
    height: 70px;
}
h1{
    text-align: center;
    padding: 0px;
}
h2 {
    color: black;
}
footer a{
    color: black;
}
div {
    text-align: center;
}
div img {
    padding: 20px;
}
#whatsApp{
    background-color: white;
}