

body{
    background-color: rgb(72, 68, 68);
    padding:20px;
    border: 10px 10px 10px 10px white;
    box-sizing: 10px black;
 }
 body, ul {
    margin: 0px;
    padding: 0px;

}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;

}
a:hover {
    background: rgb(0,0,0,.05)
}
#logo {
    font-size: 1.5rem;
    font-weight: bold;
}
header {
    box-sizing: border-box;
    height: 40px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: 5rem;

}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none
}
#flex {
    margin-top: 0px;
    padding-top: 0px;
}
/* style ate 600px*/
@media (max-width: 600px){
    #mm{
        position: relative;
        right: -20px;
        bottom: -120px;
        width: 380px; 
    }
    #logoMm{
        position: relative;
        right: -150px;
        width: 150px;
        height: 100px;
        box-shadow: 9px 9px 5px ;
        
    }
    #logo-check{
        position: relative;
        right: 190px;
    }
    .slide {
        position: relative;
        bottom: -200px;
    }
    #btn-mobile {
        display: block;
    }
    #menu { 
         
         display: block;
         position: absolute;
         width: 100%; 
         top: 70px;  
         right: 0px;
         background: #e7e7e7;
         height: 0px;
         transition: .6s;
         z-index: 1000;
         visibility: hidden;
         overflow-y: hidden;

        
 }

#nav.active #menu {
    height: calc(100vh - 70px );
    visibility: visible;
    overflow-y: auto;
    
  

}
#menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(0,0,0,.05);

}
#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;

}
span#hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
}
span#hamburger::after , span#hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;

}
#nav.active #hamburger {
    border-top-color:transparent;

}
#nav.active #hamburger::before  {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}
#cabeca {
     max-width: 50px;
     margin-bottom: 10px;

}
.grade{
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    box-shadow: 15px 15px 15px ;
    
}
h2 {
    position: relative;
    bottom: -80px;
}

}
/* slide principal*/
 img#slide-01  {
    position: block;
    
    margin: 0px ;
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
    height: 400px;
    height: 60%;
    box-shadow: 60px 60px 60px rgb(15, 12, 12);
    } 
    #cabeca  {
        margin-top: -55px;
        margin-bottom: -20px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
        
    }
    .slide{
        margin-top: -70px;
        
    }



h1#mm {
    box-shadow: 5px 5px 5px 5px black;
    text-align: center;
    color: aliceblue;
    font-size: 40pt;
    text-shadow: 9px 9px 19px  black;

    
    
}
img#logoMm{
    text-align: center;
    width: 150px;
    height: 100px;

}
#logo-check{
    box-shadow: 5px 5px 5px 5px black;
    width: 150px;
    
    
}

/* grade de horario*/
.grade-horario{
    margin-top: 200px;
    text-align: center;
}
.grade{
    width: 800px;
    box-shadow: 45px 45px 45px ;

}
h2{
    color: white;
}






footer{
    text-align: center;
    color: white;
    padding: auto;
    margin-top: 200px;
}
footer a {
    color: white;
    cursor: pointer;

}

